<!-- home/register.html -->
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.username.label_tag }} {{ form.username }}
    {{ form.email.label_tag }} {{ form.email }}
    {{ form.first_name.label_tag }} {{ form.first_name }}
    {{ form.last_name.label_tag }} {{ form.last_name }}
    {{ form.phone_number.label_tag }} {{ form.phone_number }}
    {{ form.password1.label_tag }} {{ form.password1 }}
    {{ form.password2.label_tag }} {{ form.password2 }}

    <button type="submit">Register</button>
</form>
